[include]
  # emailなどgit管理しない情報はlocalにて
  path = ~/.gitconfig.local

[core]
  # settings for git-delta
  pager = delta

[interactive]
  # settings for git-delta
  diffFilter = delta --color-only

[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  line-numbers = true
  side-by-side = true

[merge]
  # settings for git-delta
  conflictstyle = diff3

[diff]
  # settings for git-delta
  colorMoved = default

[push]
	default = current
